@page
@model FARegistryWEB.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
    <h1>@ViewData["Title"]</h1>

    <p>
        This is a private development site to demonstrate this platform and technology. The data used for this demonstration, is the Department of
        Fisheries and Oceans registry recordset as posted on the Government of Canada Open Data Platform and can be obtained <a href="https://open.canada.ca/data/en/dataset/2c09d2fd-9a8e-4d8c-b5af-95747e36eaac">here</a>.
    </p> 
<p>The data presented on this site is as of June 1st, 2020</p>
<p>This site was constructed using the following tools and technology:</p>
<br />Microsoft Visual Studio 2019 Community Edition
<br />Google Maps API
<br />Microsoft Azure
<br />
<p><h4>Contains information licensed under the Open Government Licence – Canada.</h4></p>