@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All information on this site is readily available from the Open Data platform of the Government of Canada,
    and meets the standards criteria of the Privacy Act.</p>